$padding: 20px;
&_mainView, &_mainView_collapse {
  background: $layoutMain_background;
  @include absolutePositionView;
  transition: width $transition_time, margin-left $transition_time;
  padding: calc(#{$mainViewPaddingSize} + #{$navBar_height}) $mainViewPaddingSize $mainViewPaddingSize $mainViewPaddingSize;
  overflow-y: scroll;
  overflow-x: hidden;
}

&_mainView {
  margin-left: $sidebar_width;
}

&_mainView_collapse {
  margin-left: $sidebar_collapse_width;

}
