$padding_size: 20px;
&_Navbar {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  &_left {
    display: flex;

    &_breadcrumb {
      margin-left: 15px;
    }
  }

  &_right {
    display: flex;
    align-items: center;

    &_user {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }

    &_messageCenter {
      &_head {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 10px;
        border-bottom: solid 2px #EAEAEA;
        //height: 60px;
        //line-height: 60px;
        &_title {
          color: #333333;
          font-size: 16px;
        }

        &_showAll {
          color: #409EFF;
          font-size: 14px;
          cursor: default;
        }
      }
      &_null{
        padding: 10px;
        color: #999999;
        font-size: 14px;
        text-align: center;
      }
      &_item:not(:last-child){
        border-bottom: solid 2px #EAEAEA;
      }
      &_item {
        padding: 10px;
        &_head {
          display: flex;
          justify-content: space-between;
          &_title {
            color: #666666;
          }

          &_time {
            color: #999999;
          }
        }

        &_content {
          color: #333333;
        }

      }
    }

    &_userHead {
      cursor: pointer;
      width: 26px;
      height: 26px;
      line-height: 26px;
      border-radius: 50%;
      background: $dominant_color;
      color: white;
      text-align: center;
      font-size: 15px;
    }

    &_userName {
      cursor: pointer;
      padding: 0 5px;
      font-size: 12px;
      color: $value_color;
    }

    &_loginOut:hover {
      color: $dominant_color;
    }

    &_loginOut {
      cursor: pointer;
      color: $value_color;
      display: flex;
      align-items: center;

      &_text {
        margin: 0;
        font-size: 12px;
      }

      &_icon {
        font-size: 26px;
      }
    }
  }
}

&_Navbar::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  opacity: 0.5;
  background: #cecece;
}

&_Navbar_notCollapse,
&_Navbar_collapse {
  position: relative;
  height: $navbar_height;
  background: white;
  transition: width $transition_time, margin-left $transition_time;

  &_icon {
    $icon-size: 25px;
    padding: calc((#{$navbar_height} - #{$icon-size}) / 2) 0;
    font-size: $icon-size;
  }
}

&_Navbar_notCollapse {
  margin-left: $sidebar_width;

  &_icon {
    transform: rotate(90deg);
    transition: transform $transition_time;
  }
}

&_Navbar_collapse {
  margin-left: $sidebar_collapse_width;

  &_icon {
    transform: rotate(0deg);
    transition: transform $transition_time;
  }
}
