&_navBar {
  position: relative;
  z-index: 20;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  &_left {
    display: flex;
    align-items: center;

    &_breadcrumb {
      margin-left: 15px;
    }
  }

  &_right {
    display: flex;
    align-items: center;

    &_user {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }

    &_userHead {
      cursor: pointer;
      width: 26px;
      height: 26px;
      line-height: 26px;
      border-radius: 50%;
      background: $dominant_color;
      color: white;
      text-align: center;
      font-size: 15px;
    }

    &_userName {
      cursor: pointer;
      padding: 0 5px;
      font-size: 12px;
      color: $value_text_color;
    }

    &_loginOut:hover {
      color: $dominant_color;
    }

    &_loginOut {
      cursor: pointer;
      color: $value_text_color;
      display: flex;
      align-items: center;

      &_text {
        margin: 0;
        font-size: 12px;
      }

      &_icon {
        font-size: 26px;
      }
    }
  }
}

&_navBar::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  opacity: 0.5;
  background: #cecece;
}

&_navBar_notCollapse,
&_navBar_collapse {
  height: $navBar_height;
  background: white;
  transition: width $transition_time, margin-left $transition_time;

  &_icon {
    $icon-size: 25px;
    font-size: $icon-size;
  }
}

&_navBar_notCollapse {
  margin-left: $sidebar_width;

  &_icon {
    transform: rotate(90deg);
    transition: transform $transition_time;
  }
}

&_navBar_collapse {
  margin-left: $sidebar_collapse_width;

  &_icon {
    transform: rotate(0deg);
    transition: transform $transition_time;
  }
}
