@mixin absolutePositionView {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@mixin clearAutoFillStyle {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    // -webkit-text-fill-color: #fff !important;
  }
}
